/* 1em = 16px  */

/* FONT SIZE SYSTEM (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* - spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
/********************/
/*BELOW 1600px*/
/********************/
@media (max-width: 100em) {
  .heading-primary {
    font-size: 8.6rem;
  }
  .post-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .supporter-names {
    font-size: 1.2rem;
    gap: 20px; 
  }
}

/********************/
/*BELOW 1440px*/
/********************/
@media (max-width: 90em) {
    .heading-primary {
      font-size: 6.2rem;
    }
    .heading-secondary {
        font-size: 3rem;
    }
    .post-grid {
        grid-template-columns: repeat(2, 1fr);
      }
  }

/********************/
/*BELOW 1296px*/
/********************/
@media (max-width: 81em) {
    .main-nav-list {
      gap: 3rem;
    }
    .header {
      padding: 0 3rem;
    }
    .supporter-logos {
      gap: 30px;
    }
    .supporter-image {
      width: 130px; 
      height: 130px;
    }
    .supporter-names{
      font-size: 1rem;
    }
    .post-grid {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
      }
    .post {
      width: 50%;
    }
    .tootmissusteemid {
      width: 90px; 
      height: 90px;
    }
  }

/********************/
/*BELOW 1200px*/
/********************/
  @media (max-width: 75em) {
    .nav-wrapper {
        padding: 0 2rem;
    }
    .about-us {
        padding: 0 2.0rem;
    }
    .about-title {
        font-size: 2rem;
    }
    .about-description {
        font-size: 1.8rem;
    }
    .header {
        padding: 0 2rem;
      }
    .about-grid {
        row-gap: 9.6rem;
      }
      .supporter-logos {
        gap: 20px;
      }
  }

/********************/
/*BELOW 1152px*/
/********************/
@media (max-width: 72em) { 
  html {
      /* 8px /16px = 0.5 = 50% */
      font-size: 50%;
    }
    .supporter-names{
      font-size: 1.2rem;
    }

    .btn-mobile-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 69;
      font-size: 3rem;
      width: 6rem;
      height: 6rem;
      border-radius: 50%; 
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(1.5rem);
      -webkit-backdrop-filter: blur(1rem); /* (for safari)*/
    }
    
    .main-nav {
      background-color: rgba(17, 16, 16, 0.6);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(1rem); /* (for safari)*/
      border-radius: 5rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateY(-100%);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in;
      opacity: 1;
      pointer-events: none;
      visibility: hidden;
    }
    .nav-open .main-nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateY(0);
    }
    .nav-open .icon-mobile-nav[name='close-outline'] {
      display: block;
    }
    .nav-open .icon-mobile-nav[name='menu-outline'] {
      display: none;
    }
    .main-nav-list {
      flex-direction: column;
      gap: 4.4rem;
    }
    .header.nav-open .heading-secondary,
    .header .heading-secondary {
      order: -1;
    }
   
    .main-nav-link:link,
    .main-nav-link:visited {
      font-size: 3rem;
    }
    .supporter-image-wrapper  {
      flex-direction: column;
      gap: 2rem;
    }
}

/********************/
/*BELOW 910px*/
/********************/
@media (max-width: 57em) {
  .heading-primary {
    font-size: 4.4rem;
  }
  .about-title {
      font-size: 1.6rem;
  }
  .about-description {
      font-size: 1.6rem;
  }
}

/********************/
/*BELOW 576px (phones)*/
/********************/
@media (max-width: 36em) {
  .heading-primary {
    white-space: pre-wrap; 
    text-align: center; 
    font-size: 6.2rem;
  }
  .heading-primary span {
    display: block; 
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .about-description {
    font-size: 1.3rem;
  }
  .about-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .about-icon-box:nth-child(even) {
    justify-content: center;
    margin: 6rem 0 -4.8rem 0;
    padding: 0;
  }
  .about-icon-box:nth-child(odd) {
    justify-content: center;
    margin: 6rem 0 -4.8rem 0;
    padding: 0;
  }
  .about-icon-box:nth-child(2) {
    grid-row: 1;
    margin-top: -2rem;
  }
  .about-icon-box:nth-child(6) {
    grid-row: 5;
  }
  .posts {
    padding: 0rem 1.6rem;
  }
  .menuimg {
    width: 100%;
    max-width: 32rem;
    border-radius: 8px;
  }
  .values-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .post {
    width: 100%;
  }
  .logo {
    display: none;
  }
}
/********************/
/*PRIMARY HEADING 464px*/
/********************/
 @media (max-width: 29em) { 
  .footer {
    padding: 0.8rem;
  }
  .footer-content p {
    font-size: 0.8rem;
  }
  .footer-location {
    display: none;
  }
  .values-grid {
    grid-template-columns: 1fr;
  }
}
/********************/
/*PRIMARY HEADING 336px*/
/********************/
 @media (max-width: 21em) { 
  .heading-primary {
    font-size: 5.2rem;
  } 
}