/* 1em = 16px  */

/* FONT SIZE SYSTEM (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* - spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/********************/
/*BELOW 1440px*/
/********************/
@media (max-width: 90em) {
    .heading-primary {
      font-size: 6.2rem;
    }
    .heading-secondary {
        font-size: 3.0rem;
    }
  }

/********************/
/*BELOW 1296px*/
/********************/
@media (max-width: 81em) {
    .main-nav-list {
      gap: 3rem;
    }
    .header {
      padding: 0 3rem;
    }
   
  }

/********************/
/*BELOW 1200px*/
/********************/
  @media (max-width: 75em) {
    .nav-wrapper {
        padding: 0 2rem;
    }
    .heading-tertiary {
        font-size: 2.6rem;
    }
    .about-us {
        padding: 0 2.0rem;
    }
    .about-title {
        font-size: 2rem;
    }
    .about-description {
        font-size: 1.8rem;
    }
    .header {
        padding: 0 2rem;
      }
    .about-grid {
        row-gap: 9.6rem;
      }
    .supporter-logos img {
        height: 3rem;
        margin: auto;
      }
    .supporter-names {
        font-size: 1.6rem;
      }
  }

/********************/
/*BELOW 1152px*/
/********************/

@media (max-width: 72em) { 
    html {
        /* 8px /16px = 0.5 = 50% */
        font-size: 50%;
      }
      .btn-mobile-nav {
        display: block;
        z-index: 69;
      }
      .main-nav {
        background-color: rgba(17, 16, 16, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); /* (for safari)*/
        border-radius: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateY(-100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        opacity: 1;
        pointer-events: none;
        visibility: hidden;
      }
      .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateY(0);
      }
      .nav-open .icon-mobile-nav[name='close-outline'] {
        display: block;
      }
      .nav-open .icon-mobile-nav[name='menu-outline'] {
        display: none;
      }
      .main-nav-list {
        flex-direction: column;
        gap: 4.4rem;
      }
      .header.nav-open .heading-secondary {
        order: -1;
      }
      .main-nav-link:link,
      .main-nav-link:visited {
        font-size: 3rem;
      }
  }

/********************/
/*BELOW 832px*/
/********************/

@media (max-width: 52em) {
  .heading-primary {
    font-size: 4.4rem;
  }
  .heading-tertiary {
    font-size: 1.9rem;
}
  .about-title {
      font-size: 1.6rem;
  }
  .about-description {
      font-size: 1.6rem;
  }
  .supporter-logos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
  }
  .supporter-names {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    line-height: 1.8;
    color: #555;
  }
}

/********************/
/*BELOW 576px (phones)*/
/********************/

@media (max-width: 36em) {
  .heading-primary {
    font-size: 3.4rem;
  }
  .about-description {
    font-size: 1.3rem;
  }
  .about-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .about-icon-box:nth-child(even) {
    justify-content: center;
    margin: 6rem 0 -4.8rem 0;
    padding: 0;
  }
  .about-icon-box:nth-child(odd) {
    justify-content: center;
    margin: 6rem 0 -4.8rem 0;
    padding: 0;
  }
  .about-icon-box:nth-child(2) {
    grid-row: 1;
    margin-top: 1.2rem;
  }
  .about-icon-box:nth-child(6) {
    grid-row: 5;
  }
  .posts {
    padding: 0rem 1.6rem;
  }
  .post .truncated {
    font-size: 1.2rem;
  }
  .post .expanded {
    font-size: 1.2rem;
  }
}

/********************/
/*PRIMARY HEADING 464px, 336px*/
/********************/
 @media (max-width: 29em) { 
  .heading-primary {
    font-size: 2.6rem;
  } 
}
 @media (max-width: 21em) { 
  .heading-primary {
    font-size: 2.3rem;
  } 
}